/* ==========================================================================
   # UI SEARCH
   ========================================================================== */

// Imports
@import 'setup';


// Block
:scope {
  block-name: c-ui-search;
  display: inline-block;
  width: initial;
}
