<div
  block:scope
>
  <header block:class="header">
    <div block:class="current-user">
      <div block:class="initials">
        {{this.currentUser.user.initials}}
      </div>
      <div block:class="display-label">
        {{this.currentUser.user.displayLabel}}
      </div>
    </div>
    <SignOut />
  </header>
  <nav block:class="navigation">
    <ul>
      <li block:class="item">
        <LinkTo @route="profil.quizzes">Spiele</LinkTo>
      </li>
      <li block:class="item">
        <LinkTo @route="profil.categories">Kategorien</LinkTo>
      </li>
      <li block:class="item">
        <LinkTo @route="profil.questions">Questions</LinkTo>
      </li>
    </ul>
  </nav>
  <div wrapper:scope>
    {{outlet}}
  </div>
</div>
