<div
  block:scope
>
  <div block:class="navigation">
    <LinkTo @route="profil.questions">Questions</LinkTo>
    <LinkTo @route="profil.categories">Kategorien</LinkTo>
    <SignOut />
  </div>
  <div wrapper:scope>
    {{outlet}}
  </div>
</div>
