<div layout:scope>
  <div layout:class="item">
    <@form.field @property="title" />
  </div>
  <div layout:class="item">
    <@form.field @property="quiz" @type="relation" />
  </div>
  <div layout:class="item">
    <@form.field @property="guessQuestion" @type="relation" />
  </div>
  <div layout:class="item">
    <@form.field @property="active" @type="checkbox" />
  </div>
  <div layout:class="item">
    <@form.field @property="quizMaster" @type="relation" />
  </div>
  <div layout:class="item">
    <@form.field @property="users" @type="relation" />
  </div>
</div>
