<div layout:scope>
  <div layout:class="item" layout:desktop="width-2-3">
    <div layout:scope>
      <div layout:class="item">
        <@form.field @property="title" />
      </div>
      <div layout:class="item">
        <@form.field @property="quiz" @type="relation" />
      </div>
      <div layout:class="item">
        <@form.field @property="guessQuestion" @type="relation" />
      </div>
      <div layout:class="item">
        <@form.field
          @foreignModelName="question"
          @property="playedQuestions"
          @type="relation"
        />
      </div>
    </div>
  </div>
  <div layout:class="item" layout:desktop="width-1-3">
    <div layout:scope>
      <div layout:class="item">
        <@form.field @property="active" @type="checkbox" />
      </div>
      <div layout:class="item">
        <@form.field @property="quizMaster" @type="relation" />
      </div>
      <div layout:class="item">
        <@form.field
          @foreignModelName="user"
          @property="players"
          @type="relation"
        />
      </div>
    </div>
  </div>
</div>
