<h1>Quizzes</h1>
<LinkTo @route="profil.quizzes.new">New</LinkTo><br><br>

{{#if @model}}
  <ul>
    {{#each @model as |quiz|}}
      <li>
        <LinkTo @route="profil.quizzes.quiz" @model={{quiz}}>
          {{quiz.displayLabel}}
        </LinkTo>
      </li>
    {{/each}}
  </ul>
{{else}}
  Keine Fragen für diese Auswahl
{{/if}}
