/* ==========================================================================
   # SIGN OUT
   ========================================================================== */

// Imports
@block wrapper from 'objects/objects.wrapper.block.scss';


// Exports
@export (wrapper);


// Block
:scope {
  block-name: c-login;
}

  .headline {
    font-size: 30px;
    text-transform: uppercase;
    position: fixed;
    top: spacing('large');
    left: spacing('large');
  }
