/* ==========================================================================
   # LIST
   ========================================================================== */

// Imports
@import 'setup';


// Block
:scope {
  block-name: c-list;
  border-bottom: 0;
  margin-bottom: spacing('small');
}
