/* ==========================================================================
   # LIST
   ========================================================================== */

// Imports
@import 'setup';


// Block
:scope {
  block-name: c-list;
  border: 1px solid #000;
  border-bottom: 0;
}
