<div layout:scope>
  <div layout:class="item" layout:desktop="width-1-1">
    <@form.field @property="title" />
  </div>
  <div layout:class="item" layout:desktop="width-1-1">
    <@form.field @property="questions" @type="relation" />
  </div>
</div>
