/* ==========================================================================
   # NAVIGATION
   ========================================================================== */

// Imports
@import 'setup';


// Block
:scope {
  block-name: c-application-navigation;
}
  .list {
    margin: 0;
  }

    .item {
      display: block;
    }
