/* ==========================================================================
   # APPLICATION NAVIGATION
   ========================================================================== */

// Imports
@import 'setup';


// Block
:scope {
  block-name: c-application-navigation-item;
}

  .link {
    display: flex;
    align-items: center;
    margin-bottom: spacing('tiny');
  }

    .icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: spacing('base+small');
      height: spacing('base+small');
      border-radius: spacing('tiny');
      background-color: rgba($color-grey-lighter, 0.1);
      box-shadow: 0 0 spacing() 0 rgba($color-black, 0.3);
      color: $color-grey-lighter;
      transition: background-color 0.3s ease-in-out;
    }

    :scope[is-active] .icon,
    :scope:hover .icon {
      background-color: $color-grey-lighter;
      color: $color-active;
    }

    .label {
      margin-left: spacing('small');
      color: $color-white;
      font-weight: bold;
      transition: color 0.3s ease-in-out;
    }
