/* ==========================================================================
   # UI AVATAR
   ========================================================================== */

// Imports
@import 'setup';


// Block
:scope {
  block-name: c-ui-avatar;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: spacing('base+small');
  height: spacing('base+small');
  border-radius: 50%;
  background-color: #ddd;
  font-weight: bold;
}

:scope[size=large] {
  width: spacing('large+base');
  height: spacing('large+base');
}

:scope[color=white] {
  background-color: $color-white;
}

  .image {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }
