<div layout:scope>
  <div layout:class="item" layout:desktop="width-1-1">
    <@form.field @property="label" />
  </div>
  <div layout:class="item" layout:desktop="width-1-1">
    <@form.field @property="answers" @type="relation" @isInlineForm={{true}} />
  </div>
  <div layout:class="item" layout:desktop="width-2-3">
    <@form.field @property="source" />
  </div>
  <div layout:class="item" layout:desktop="width-1-3">
    <@form.field @property="date" @type="date" />
  </div>
</div>

