<h1>Edit Question</h1>
<LinkTo @route="profil.questions.index">&lArr; Overview</LinkTo>
<LinkTo @route="profil.questions.new">New</LinkTo><br><br>

<Form
  @changeset={{this.changeset}}
  @save={{this.save}}
  @delete={{this.delete}}
  @rollback={{this.rollback}}
/>
