<h1>Edit Categories</h1>
<LinkTo @route="profil.categories.index">&lArr; Overview</LinkTo>
<LinkTo @route="profil.categories.new">New</LinkTo><br><br>

<Form
  @changeset={{this.changeset}}
  @save={{this.save}}
  @delete={{this.delete}}
  @rollback={{this.rollback}}
/>
