<h1>Edit Quiz</h1>
<LinkTo @route="profil.quizzes.index">&lArr; Overview</LinkTo>
<LinkTo @route="profil.quizzes.new">New</LinkTo><br><br>

<Form
  @changeset={{this.changeset}}
  @save={{this.save}}
  @delete={{this.delete}}
  @rollback={{this.rollback}}
/>
