/* ==========================================================================
   # MODAL
   ========================================================================== */

// Imports
@import 'setup';


// Block
:scope {
  block-name: c-modal;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 30;
  display: flex;
  align-items: flex-end;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  transition-delay: 0.1s;
  pointer-events: none;
}

:scope[is-open] {
  opacity: 1;
  transition-delay: 0s;
  pointer-events: initial;
}

  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: rgba($color-black, 0.5);
  }

  .container {
    position: relative;
    z-index: 2;
    overflow: hidden;
    min-height: spacing('base+small');
    width: 100%;
    border-radius: spacing('small+tiny');
    background-color: $color-white;
  }

  .content {
    position: relative;
    max-height: calc(100vh - 200px);
  }
