<form
  {{on "submit" (fn @save @changeset)}}
  ...attributes
>
  {{component
    (concat "form/" this.modelName)
    changeset=@changeset
    form=(hash
      field=(component "form/field"
        changeset=@changeset
        modelName=this.modelName
      )
    )
  }}

  <button type="submit">Save</button>
  <button type="reset" {{on "click" (fn @rollback @changeset)}}>Reset</button>
  <button type="button" {{on "click" (fn @delete @changeset)}}>Delete</button>
</form>
