/* ==========================================================================
   # WRAPPER
   ========================================================================== */

/*
* Page-level constraining and wrapping elements.
*/

:scope {
  block-name: o-wrapper;
  margin-right: 0;
  margin-left: auto;
  background-color: var(--color-white);
  border-radius: var(--spacing-base);
  padding: var(--spacing-base-small);
  width: 80%;
}

:scope[size=small] {
  width: 40%;
}
