/* ==========================================================================
   # FORM
   ========================================================================== */

/*
* Form object for basic form styling
*/

// Imports
@import 'setup';


// Block
:scope {
  block-name: o-form;
}

.field {
  margin-bottom: spacing('small');
}
