/* ==========================================================================
   # WRAPPER
   ========================================================================== */

/*
* Page-level constraining and wrapping elements.
*/

// Imports
@import 'setup';


// Block
:scope {
  block-name: o-wrapper;
  margin-right: 0;
  margin-left: auto;
  background-color: $color-white;
  border-radius: spacing('small-tiny');
  padding: spacing('base-small');
  width: 100%;
}

:scope[size=small] {
  width: 40%;
}
