/* ==========================================================================
   # FORM FIELD RELATION ASSIGN
   ========================================================================== */

// Imports
@import 'setup';


// Block
:scope {
  block-name: c-form-field-relation-assign;
  margin-bottom: 0;
  height: calc(100vh - 200px);
}
