/* ==========================================================================
   # ROUTE. PROFIL
   ========================================================================== */

// Imports
@import 'setup';
@block wrapper from 'objects/objects.wrapper.block.scss';


// Exports
@export (wrapper);


// Block
:scope {
  block-name: c-profile;
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: spacing('base+small') auto;
  column-gap: spacing('small');
  row-gap: spacing('small');
}

  .header {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: spacing('base+small');
  }

    .current-user {
      display: flex;
      align-items: center;
    }

      .display-label {
        margin-left: spacing('small');
      }

  .navigation {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

    .item {
      display: block;
    }

  .content {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
