/* ==========================================================================
   # APPLICATION HEADLINE
   ========================================================================== */

// Imports
@import 'setup';


// Block
:scope {
  block-name: c-application-headline;
  @include font-size(90px);
  text-transform: uppercase;
  opacity: 0.2;
  color: $color-white;
}
