/* ==========================================================================
   # GLOBALS
   ========================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.


/* Spacing
  ======================================================================== */

// Baseline
$baseline:               7px;

// Spacing
$spacing-tiny:           $baseline * 1;
$spacing-small:          $baseline * 2;
$spacing-base:           $baseline * 4;
$spacing-large:          $baseline * 8;
$spacing-huge:           $baseline * 16;
$spacing-giant:          $baseline * 32;





/* Typographic
  ======================================================================== */

// Base font size
$font-size-huge:         48px;
$font-size-large:        20px;
$font-size:              18px;
$font-size-small:        16px;
$font-size-tiny:         14px;


// Heading sizes
$font-size-h1:           52px;
$font-size-h2:           36px;
$font-size-h3:           24px;
$font-size-h4:           18px;
$font-size-h5:           18px;
$font-size-h6:           18px;

// Letter spacing
$letter-spacing:         0.05rem;

// Font family
$font-family:            'Inconsolata', sans-serif;
$font-family-decoration: 'Playfair Display', serif;





/* Color
  ======================================================================== */

// Main colors
$color-primary:         #80ae83;
$color-primary-dark:    #739e76;
$color-secondary-light: #5fa6af;
$color-secondary:       #4F759B;
$color-secondary-dark:  #46698b;
$color-black:           #16171b;
$color-white:           #ffffff;

// Shades of grey
$color-grey-light:      #f8f9fb;
$color-grey:            #eeeeee;
$color-grey-dark:       #dddddd;
$color-grey-darker:     #a0a0a0;

// State colors
$color-error:           #da6848;
$color-warning:         #d4a958;
$color-success:         #33b96f;
$color-info:            #ffffe8;





/* Media queries
   ======================================================================== */

$mq-breakpoints: (
  mobile:  576px,
  tablet:  768px,
  desktop: 1024px,
  wide:    1200px,
);





/* Stuff
  ======================================================================== */

// Border
$border-width-small:     1px;
$border-width:           2px;
$border-width-large:     4px;

// Transition
$transition-base:        0.3s ease-in-out;
$transition-slow:        0.6s ease-in-out;




/* Objects
========================================================================== */
// Object Wrapper
$wrapper-width-small:    1100px;
$wrapper-width:          1700px;
