{{#if @model}}
  <ul>
    {{#each @model as |question|}}
      <li>
        <LinkTo @route="profil.questions.question" @model={{question}}>
          {{question.label}}
        </LinkTo>
      </li>
    {{/each}}
  </ul>
{{else}}
  Keine Fragen für diese Auswahl
{{/if}}
