<div
  block:scope
  ...attributes
>
  <div block:class="label" role="button" {{on "click" this.toggleForm}}>
    {{@record.displayLabel}}
  </div>
  {{#if this.showForm}}
    <div block:class="form">
      <Form @model={{@record}} />
    </div>
  {{/if}}
</div>
