/* ==========================================================================
   # FORM FIELD HAS MANY RECORD
   ========================================================================== */

:scope {
  block-name: c-form-field-has-many-record;
  margin-bottom: var(--spacing-small);
}

  .label {
    padding: var(--spacing-tiny) var(--spacing-small);
    border: 1px solid #ddd;
  }

  .form {
    border: 1px solid #ddd;
    border-top: 0;
    padding: var(--spacing-small);
  }

