/* ==========================================================================
   # FORM FIELD HAS MANY RECORD
   ========================================================================== */

// Imports
@import 'setup';


// Block
:scope {
  block-name: c-form-field-has-many-record;
  margin-bottom: spacing('small');
}

  .label {
    padding: spacing('tiny') spacing('small');
    border: 1px solid #ddd;
  }

  .form {
    border: 1px solid #ddd;
    border-top: 0;
    padding: spacing('small');
  }

