/* ==========================================================================
   # LIST ROW
   ========================================================================== */

// Imports
@import 'setup';


// Block
:scope {
  block-name: c-list-row-column;
  border-right: 1px solid #000;
  padding: spacing('tiny');

  &:last-child {
    border-right: 0;
  }
}
