/* ==========================================================================
   #Forms
   ========================================================================== */

/**
 * Simple default style for all form elements. Anything more opinionated
 * than simple basic style changes should likely be applied via classes
 */


button,
input,
optgroup,
select,
textarea {
  font-family: inherit;

  @include font-size($font-size);
}

/* Input
   ========================================================================== */

input:not([type=submit]),
input:not([type=file]),
input:not([type=search]),
input:not([type=checkbox]) {
  padding: spacing('tiny') spacing('small');
  width: 100%;
  border-width: $border-width-small;
  border-style: solid;
  border-color: $color-grey-dark;
  background-color: $color-grey-light;
  border-radius: spacing('tiny');

  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px $color-secondary;
    border-color: $color-secondary;
  }
}





/* Textarea
   ========================================================================== */

textarea {
  padding: spacing('small');
  width: 100%;
  border-width: $border-width-small;
  border-style: solid;
  border-color: $color-grey-dark;
  background-color: $color-white;

  &:focus {
    outline: none;
    border-color: $color-grey-dark;
  }
}





/* Label
   ========================================================================== */

button {
  border: 0;
  background-color: transparent;
  text-align: left;

  -webkit-appearance: none;
     -moz-appearance: none;

  &:focus,
  &:-moz-focusring {
    outline: 0;
  }
}






/* Label
   ========================================================================== */

label {
  display: block;
  color: $color-black;
  font-weight: bold;
}
