/* ==========================================================================
   #Forms
   ========================================================================== */

/**
 * Simple default style for all form elements. Anything more opinionated
 * than simple basic style changes should likely be applied via classes
 */

/* Input
   ========================================================================== */

input:not([type=submit]),
input:not([type=file]),
input:not([type=search]),
input:not([type=checkbox]) {
  padding: spacing('tiny') spacing('small');
  width: 100%;
  border-width: $border-width-small;
  border-style: solid;
  border-color: $color-grey-dark;
  background-color: $color-grey-light;

  // @include inuit-font-size($inuit-global-font-size);

  &:focus {
    outline: none;
    border-color: $color-grey-darker;
  }
}





/* Textarea
   ========================================================================== */

textarea {
  padding: spacing('small');
  width: 100%;
  border-width: $border-width-small;
  border-style: solid;
  border-color: $color-grey-dark;
  background-color: $color-white;

  // @include inuit-font-size($inuit-global-font-size);

  &:focus {
    outline: none;
    border-color: $color-grey-dark;
  }
}





/* Label
   ========================================================================== */

button {
  border: 0;

  -webkit-appearance: none;
     -moz-appearance: none;
}






/* Label
   ========================================================================== */

label {
  display: block;
  color: $color-black;

  // @include inuit-font-size($inuit-global-font-size--small);
}
