/* ==========================================================================
  # PAGE
  ========================================================================== */

/**
* Simple page-level setup.
*
* 1. Set the default `font-size` and `line-height` for the entire project,
*    sourced from our default variables. The `font-size` is calculated to exist
*    in ems, the `line-height` is calculated to exist unitlessly.
* 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
*    navigating between pages that do/do not have enough content to produce
*    scrollbars naturally.
* 3. Ensure the page always fills at least the entire height of the viewport.
*/

html {
  overflow-y: scroll; /* [2] */
  min-height: 100%; /* [3] */
  font-size: ($font-size / 16px) * 1em; /* [1] */
  line-height: $baseline * 4 / $font-size; /* [1] */
}

body {
  overflow: auto;
  min-height: 100%;
  background-color: $color-primary;
  background-image: linear-gradient(170deg, $color-primary, $color-primary-dark);
  color: $color-black;
  letter-spacing: $letter-spacing;
  font-family: $font-family;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
