/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
* Simple default styles for headings 1 through 6. Anything more opinionated
* than simple font-size changes should likely be applied via classes (see:
* http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
*/

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

h6 {
  font-size: var(--font-size-h6);
}
