/* ==========================================================================
   # FORM FIELD RELATION
   ========================================================================== */

// Imports
@import "setup";


// Block
:scope {
  block-name: c-form-field-relation;
}

:scope[disabled] {
  opacity: 0.6;
}

  .records {
    padding: 0;
    margin: 0;
  }

  .actions {
    display: flex;
    border: 1px solid $color-grey;
    border-radius: spacing('tiny');
    background-color: $color-grey-lighter;
  }

    .primary {
      flex-grow: 1;
      padding: spacing('tiny') spacing('small');

      @include attention() {
        background-color: $color-grey-light;
      }
    }

    .secondary {
      border-left: 1px solid $color-grey;
      padding: spacing('tiny') spacing('small');

      @include attention() {
        background-color: $color-grey-light;
      }
    }
