/* ==========================================================================
  # APPLICATION COOCKIE NOTICE
   ========================================================================== */

// Imports
@import 'setup';


// Block
:scope {
  block-name: c-application-cookie-notice;
  position: fixed;
  right: spacing('small');
  bottom: spacing('small');
  left: spacing('small');
  z-index: 999;
  padding: spacing('small');
  max-height: calc(100vh - spacing('large'));
  border: 2px solid $color-black;
  background-color: $color-white;
  color: $color-black;
  transition: transform 0.3s ease-in-out;
  transform: translate(0, 150%);
}

:scope[is-visible] {
  transform: translate(0, 0);
}

  .header {
    font-weight: bold;
  }

  .content {
    display: flex;
    overflow: auto;
  }

    .message {
      flex-grow: 1;
    }

    .settings {
      flex-shrink: 0;
    }

      .option {
        margin-bottom: 0;
      }






/* Media queries
  ========================================================================== */

// @include mq($until: desktop) {
//   .c-cookie-notice {
//     right: spacing('small');
//     left: spacing('small');
//     padding: spacing('small');
//     @include inuit-font-size($inuit-global-font-size--small);

//     &__content {
//       flex-direction: column;
//     }

//       &__settings {
//         margin-top: spacing('base');
//         width: 100%;
//       }
//   }
// }

// @include mq($from: desktop) {
//   .c-cookie-notice {
//     right: $global-wrapper-offset/4 - spacing('base', 0, false);
//     left: $global-wrapper-offset/2 - spacing('base', 0, false);
//     padding: spacing('base');

//     &__settings {
//       margin-left: spacing('base');
//       width: 300px;
//     }
//   }
// }

// @include mq($from: wide) {
//   .c-cookie-notice {
//     right: $global-wrapper-offset/2 - spacing('base', 0, false);
//     left: $global-wrapper-offset - spacing('base', 0, false);
//   }
// }
