/* ==========================================================================
  # APPLICATION COOCKIE NOTICE
   ========================================================================== */

// Imports
@import 'setup';


// Block
:scope {
  block-name: c-application-cookie-notice;
  position: fixed;
  right: spacing('small');
  bottom: spacing('small');
  left: spacing('small');
  z-index: 999;
  padding: spacing('small');
  max-height: calc(100vh - spacing('large'));
  border: 2px solid $color-black;
  background-color: $color-white;
  color: $color-black;
  transition: transform 0.3s ease-in-out;
  transform: translate(0, 150%);
}

:scope[is-visible] {
  transform: translate(0, 0);
}

  .header {
    font-weight: bold;
  }

  .content {
    overflow: auto;
  }

    .message {
      margin-bottom: spacing('small');
    }

    .settings {
      display: flex;
    }

      .option {
        margin-right: spacing();
        display: inline-grid;
        align-items: center;
        grid-template-columns: min-content auto;
        gap: spacing('tiny');
      }

      .spacer {
        flex-grow: 1;
      }

      .button {
        flex-shrink: 0;
      }






/* Media queries
  ========================================================================== */

@include mq($until: desktop) {
  .settings {
    flex-direction: column;
  }

  .button {
    margin-top: spacing('tiny');
  }
}

@include mq($from: desktop) {
  .settings {
    flex-direction: row;
  }

  .button {
    margin-left: spacing('tiny');
  }
}
