<div layout:scope>
  <div layout:class="item" layout:desktop="width-2-3">
    <@form.field @property="label" />
  </div>
  <div layout:class="item" layout:desktop="width-1-3">
    <@form.field @property="value" />
  </div>
</div>

<@form.field @property="information" @type="textarea" />
