{{#if @model}}
  <ul>
    {{#each @model as |question|}}
      <li>
        <LinkTo @route="admin.questions.question" @model={{question}}>
          {{question.label}} (Top {{question.answers.length}})
        </LinkTo>
      </li>
    {{/each}}
  </ul>
{{else}}
  Keine Fragen für diese Auswahl
{{/if}}
