{{#if model}}
  <ul>
    {{#each model as |question|}}
      <li>{{#link-to 'admin.questions.question' question}}{{question.label}} (Top {{question.answers.length}}){{/link-to}}</li>
    {{/each}}
  </ul>
{{else}}
  Keine Fragen für diese Auswahl
{{/if}}
