/* ==========================================================================
   # LIST ROW
   ========================================================================== */

// Imports
@import 'setup';


// Block
:scope {
  block-name: c-list-row;
  display: grid;
  border-radius: spacing('tiny');

  @include attention() {
    background-color: $color-grey-light;
  }
}

:scope[is-disabled] {
  color: $color-grey;
  cursor: not-allowed;
}

:scope[is-head] {
  background-color: $color-grey-darker;
  color: $color-white;
  font-weight: bold;

  @include attention() {
    background-color: $color-grey-darker;
  }
}

:scope[is-even] {
  background-color: lighten($color-grey-light, 2%);
}

:scope[is-selected] {
  background-color: $color-active;
  color: $color-white;

  @include attention() {
    background-color: $color-active-dark;
  }
}

:scope[layout=answer] {
  grid-template-columns: 2fr 1fr;
}

:scope[layout=category] {
  grid-template-columns: 1fr 150px;
}

:scope[layout=game] {
  grid-template-columns: 1fr 150px 150px 150px;
}

:scope[layout=question] {
  grid-template-columns: 1fr 150px;
}
