/* ==========================================================================
   # APPLICATION BREADCRUMB
   ========================================================================== */

// Imports
@import 'setup';


// Block
:scope {
  block-name: c-application-breadcrumb;
  margin: 0;
  list-style: none;
  overflow-x: auto;
  padding: spacing('tiny');
  display: flex;
  width: 100%;
}

  .item {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-right: spacing('tiny');
    padding: 0 spacing('small');
    border-radius: spacing('small-tiny');
    background-color: $color-grey;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: $color-active;
      color: $color-white;
    }

    &[is-current] {
      background-color: $color-active;
      color: $color-white;
    }

    &[is-to-rollback] {
      opacity: 0.3;
      background-color: $color-grey;
      color: $color-black;
    }

    &[has-changes] {
      padding-right: 0;
    }
  }

    .name {
      position: relative;
      overflow: hidden;
      max-width: 250px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .changes {
      margin-left: spacing('tiny');
      width: spacing('base');
      height: spacing('base');
      border-radius: 50%;
      background-color: $color-warning;
      color: $color-white;
      text-align: center;
    }
