/* ==========================================================================
   # APPLICATION BREADCRUMB
   ========================================================================== */

// Imports
@import 'setup';


// Block
:scope {
  block-name: c-application-breadcrumb;
  margin: 0;
  list-style: none;
  overflow-x: auto;
  padding: spacing('tiny') spacing();
  display: flex;
  width: 100%;
}

  .item {
    display: inline-flex;
    align-items: center;
    margin-right: spacing('small');

    &::before {
      margin-right: spacing('small');
      content: '»';
    }

    &:first-child::before {
      display: none;
    }
  }

  .item[is-to-rollback] {
    opacity: 0.3;

    &::before {
      content: '«';
    }
  }

    .name {
      position: relative;
      overflow: hidden;
      max-width: 250px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .changes {
      margin-left: spacing('tiny');
      width: spacing('base');
      height: spacing('base');
      border-radius: 50%;
      background-color: $color-warning;
      color: $color-white;
      text-align: center;
    }
