/* ==========================================================================
   # SIGN IN
   ========================================================================== */

@export form from '../../styles/objects/objects.form.scss';

:scope {
  block-name: c-sign-in;
  padding: 20px;
}

  .headline {
    color: var(--color-error);
  }
