/* ==========================================================================
   # APPLICATION
   ========================================================================== */

// Imports
@import 'setup';


// Block
:scope {
  block-name: c-application;
  display: grid;
  padding: spacing('base');
  height: 100vh;
  background-image: url('/undraw_best_place_r685.svg');
  background-position: left -20% bottom -1%;
  background-size: 65% auto;
  background-repeat: no-repeat;
  grid-template-columns: 1fr min-content;
  grid-template-rows: spacing('base+small') calc(100% - #{spacing('large')});
  grid-template-areas: 'logo header'
                       'navigation content';
  row-gap: spacing('small');
}

  .notifications {
    position: fixed;
    top: spacing('base');
    right: spacing('base');
    z-index: 900;
  }

  .header {
    grid-area: header;
  }

  .headline {
    z-index: 1;
    grid-area: navigation;
    overflow-y: hidden;
  }

  .navigation {
    z-index: 2;
    grid-area: navigation;
  }

  .content {
    border-radius: spacing('small+tiny');
    background-color: $color-grey-light;
    transition: width $transition-slow;

    .modal {
      position: relative;
    }

    grid-area: content;
  }

  :scope[size=base] .content {
    width: calc(100vw - #{$navigation-width});
  }

  :scope[size=small] .content {
    width: 700px;
  }
