<h1>Games</h1>
<LinkTo @route="profil.games.new">New</LinkTo><br><br>

{{#if @model}}
  <ul>
    {{#each @model as |game|}}
      <li>
        <LinkTo @route="profil.games.game" @model={{game}}>
          {{game.displayLabel}}
        </LinkTo>
      </li>
    {{/each}}
  </ul>
{{else}}
  Keine Fragen für diese Auswahl
{{/if}}
